[Unit]
Description=socket for wlbreaktime -- An application that reminds you to take regular breaks
Requires=wlbreaktime.service

[Socket]
ListenDatagram=%t/wlbreaktime.socket

[Install]
WantedBy=sockets.target
